.filterSide {
    padding-top: 1.5rem!important;
    width: calc(220px + 1.34rem);
    .title {
        font-weight: 600;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 1.8rem;
    }

    & &__content {
        margin-top: 2.9rem;
    }

    @media only screen and (max-width: 860px) {
        display: none;
    }
}