@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import './color';

* {
    font-family: 'Open Sans', sans-serif;
    color: $text;
    padding: 0px;
    margin: 0px;
}

button {
    cursor: pointer;
}